@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Black+Ops+One&display=swap");
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--black-opq: rgba(50, 50, 66, 0.8);
	--dark-font: #202025;
	--dark-blue: #1b1b29;
	--white-font: #fcdec3;
	--light-bg: #fde4d1;
    --light-gray: #838385;
	--red-clr: rgb(202, 16, 16);
	--font-bOps: "Black Ops One", cursive;
	--font-normal: "Amatic SC", cursive;
}

*::selection {
    background-color: var(--light-gray);
}


body {
	height: 100vh;
}

.overlay {
	position: fixed;
	overflow: scroll;
	scroll-behavior: smooth;
	height: 100vh;
	width: 100vw;
	background-color: var(--black-opq);
	color: var(--dark-font);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	text-align: center;
}

.modal {
	width: 600px;
    padding: 2rem;
	background-color: var(--light-bg);
	border-radius: 5px;
}

.modal-header-container {
	font-family: var(--font-normal);
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-header-container h1 {
	text-decoration: underline;
}

.modal-header-container span {
	color: var(--red-clr);
}

.modal-btn-container button {
	background-color: var(--dark-blue);
	color: var(--white-font);
	border-radius: 5px;
	padding: 0.5rem;
    width: 150px;
	cursor: pointer;
	align-self: center;
	font-family: var(--font-normal);
	font-size: 2rem;
	font-weight: 700;
	transition: background-color 150ms ease-in;
}

.modal-btn-container button:focus {
    outline: 1px solid  var(--dark-blue);
}

.modal-btn-container .random-btn {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.modal-btn-container .random-btn:hover,
.modal-btn-container .random-btn:focus {
    background: linear-gradient(
        270deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.modal-btn-container .change-orientation-btn:hover,
.modal-btn-container .change-orientation-btn:focus {
	background-color: #27273b;
}

.modal-btn-container .reset-btn {
    background-color: var(--red-clr);
}

.modal-btn-container .reset-btn:hover,
.modal-btn-container .reset-btn:focus {
    background-color: rgb(230, 21, 21);
}

.place-ship-board {
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(10, minmax(50px, 1fr));
	border-top: 1px solid var(--dark-blue);
	border-left: 1px solid var(--dark-blue);
}

.square {
	padding: 25px;
	border-bottom: 1px solid var(--dark-blue);
	border-right: 1px solid var(--dark-blue);
    transition: background-color 150ms ease;
}

.squares:hover {
    cursor: crosshair;
    background-color: var(--dark-blue);
}

.current-cell {
    background-color: var(--black-opq);
}