@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Black+Ops+One&display=swap");
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--black-opq: rgba(50, 50, 66, 0.8);
	--green-opq: rgba(53, 231, 46, 0.8);
	--dark-gray: rgb(134, 134, 134);
	--dark-green-opq: rgba(6, 90, 2, 0.9);
	--red-opq: rgba(255, 38, 38, 0.8);
	--dark-font: #202025;
	--dark-blue: #1b1b29;
	--white-font: #fcdec3;
	--blue-clr: rgb(88, 159, 241);
	--light-bg: #e1fae1;
	--light-gray: #b3b3b4;
	--red-clr: rgb(202, 16, 16);
	--font-bOps: "Black Ops One", cursive;
	--font-normal: "Amatic SC", cursive;
	--font-su: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::selection {
	background-color: var(--light-gray);
}

body {
	height: 100vh;
	position: relative;
}

button {
	background-color: var(--dark-blue);
	color: var(--white-font);
	border-radius: 5px;
	padding: 0.5rem;
	width: 150px;
	cursor: pointer;
	align-self: center;
	font-family: var(--font-normal);
	font-size: 2rem;
	font-weight: 700;
	transition: background-color 150ms ease-in;
	border: none;
}

button:hover,
button:focus {
	background-color: #323242;
}

/***********************/
/* Start Menu Styling */
/**********************/

.overlay {
	position: fixed;
	overflow: scroll;
	scroll-behavior: smooth;
	height: 100vh;
	width: 100vw;
	background-color: var(--black-opq);
	color: var(--dark-font);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	text-align: center;
	transition: opacity 250ms ease-out;
}

.modal {
	width: 570px;
	padding: 2rem;
	background-color: var(--light-bg);
	border-radius: 5px;
}

.modal-header-container {
	font-family: var(--font-normal);
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal-header-container h1 {
	text-decoration: underline;
}

.modal-header-container span {
	color: var(--red-clr);
}

.modal-btn-container button:focus {
	outline: 2px solid var(--dark-blue);
}

.modal-btn-container .random-btn {
	background-color: var(--dark-blue);
}

.modal-btn-container .random-btn:hover,
.modal-btn-container .random-btn:focus {
	background-color: #323242;
}

.modal-btn-container .reset-btn {
	background-color: var(--red-clr);
}

.modal-btn-container .reset-btn:hover,
.modal-btn-container .reset-btn:focus {
	background-color: rgb(230, 21, 21);
}

.place-ship-board {
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(10, minmax(50px, 1fr));
	border-top: 2px solid var(--dark-blue);
	border-left: 2px solid var(--dark-blue);
}

.play-btn {
	margin-top: 1rem;
	background-color: var(--dark-green-opq);
}

.play-btn:hover,
.play-btn:focus {
	background-color: var(--green-opq);
}

.square {
	height: 50px;
	width: 50px;
	font-size: 2rem;
	font-family: var(--font-su);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid var(--dark-blue);
	border-right: 2px solid var(--dark-blue);
	transition: background-color 150ms ease;
	cursor: crosshair;
}

.empty-cell {
	background-color: var(--white-font);
}

.occupied-cell {
	background-color: var(--dark-gray);
}

.active-cell {
	background-color: var(--green-opq);
}

.invalid-cell {
	background-color: var(--red-opq);
}

.missed {
	background-color: var(--blue-clr);
}

.sunked {
	background-color: rgb(153, 16, 16);
}

.hide-modal {
	opacity: 0;
	pointer-events: none;
}

.disable-pointer-events {
	pointer-events: none;
}

.hover-bg:hover {
	background-color: var(--light-gray);
}

/***********************/
/* GameBoards Styling */
/**********************/

.game-container {
	height: 100vh;
	overflow-y: scroll;
	background-color: var(--light-bg);
	color: var(--dark-blue);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.game-header-container .game-title {
	padding: 1rem;
	font-family: var(--font-bOps);
	font-size: 4.5rem;
}

.game-board-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.display-turn {
	font-family: var(--font-bOps);
	font-size: 2rem;
}

@media (max-width: 1080px) {
	.game-container {
		height: auto;
	}
	.game-board-container {
		flex-direction: column;
	}
}

.player-board,
.enemy-board {
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(10, minmax(50px, 1fr));
	border-top: 2px solid var(--dark-blue);
	border-left: 2px solid var(--dark-blue);
}

/***************************/
/* End Game Modal Styling */
/**************************/

.end-game-modal-overlay {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: var(--font-normal);
	background-color: var(--black-opq);
	transition: opacity 200ms ease-in;
}

.end-game-modal {
	height: 300px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
	background-color: var(--light-bg);
	border-radius: 5px;
}

.end-game-modal h1 {
	font-size: 3.5rem;
	font-weight: bold;
}

.end-game-modal h2 {
	font-size: 2.3rem;
}

.end-game-modal span {
	color: var(--red-clr);
}

.end-game-modal button {
	color: var(--white-font);
}
